header {
  display: flex;
}

.branding {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
}

nav {
  display: flex;
  gap: 30px;
  height: fit-content;
  margin: 4px 0 0 52px;
}

.contacts {
  display: flex;
  align-items: center;
  height: fit-content;
  margin-left: auto;

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  &__buttons {
    display: flex;
    gap: 30px;
    margin-left: 47px;
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .branding {
    display: none;
  }

  nav {
    gap: 16px;
    padding: 20px 16px;
    margin: 0;
    height: 55px;
		width: 100%;
		justify-content: space-between;
    background: #0e1014;

    button {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;

      &:last-child {
        display: none;
      }
    }
  }

  .contacts {
    display: none;
  }
}
