footer {
  display: flex;

  section {
    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: auto;

      p {
        margin-bottom: 20px;
      }
    }
  }

  article {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #656566;
    margin-bottom: 20px;
  }
}

.menu {
  &__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 98px;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 52px;
    grid-row-gap: 10px;
  }
}

.contacts-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-rights {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: auto;

  span {
    font-size: 12px;
    line-height: 15px;
  }

  a {
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #e4e5ea;
  }
}
